.card {
    width: 200px;
    height: 300px; /* Aumentar la altura de la carta */
    margin: auto;
    border: 3px solid #000;
    border-radius: 10px;
    display: flex; /* Usar flexbox para centrar el contenido */
    justify-content: center;
    align-items: center;
    position: relative; /* Para posicionar los elementos absolutos */
}

.palo {
    font-size: 3rem; /* Tama単o de los palos */
    line-height: 1; /* Asegura que los palos no tengan espacio extra */
}

.esquina-superior-izquierda {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 3rem; /* Igualar tama単o al card-title */
}

.esquina-inferior-derecha {
    position: absolute;
    bottom: 20px; /* Cambiado a bottom para estar en la esquina inferior */
    right: 20px; /* Mover hacia la derecha */
    font-size: 3rem; /* Igualar tama単o al card-title */
}

.card-title {
    font-size: 3rem; /* Aumentar el tama単o del valor */
    text-align: center; /* Centrar el texto */
}
