.card {
    width: 200px;
    height: 300px; /* Aumentar la altura de la carta */
    margin: auto;
    border: 3px solid #000;
    border-radius: 10px;
    display: flex; /* Usar flexbox para centrar el contenido */
    justify-content: space-between;
    align-items: center;
    position: relative; /* Para posicionar los elementos absolutos */
}

.card-body {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 100%;
}

.palo {
    font-size: 10px; /* Tamaño de los palos */
    line-height: 0.5; /* Asegura que los palos no tengan espacio extra */
}

.paloesquina-superior-izquierda {
    font-size: 5rem; /* Igualar tamaño al card-title */
    padding-left: 1rem;
    line-height: 0.9;
}

.card-title {
    font-size: 5rem; /* Aumentar el tamaño del valor */
    margin: 0;
    text-align: center;
}

.paloesquina-inferior-derecha {
    font-size: 5rem; /* Igualar tamaño al card-title */
    padding-right: 1rem;
    align-self: flex-end;
    line-height: 0.9;
}
